# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
.venv/
.env
.env.*
dist/
build/
.eggs/
*.egg-info/
.pytest_cache/
.mypy_cache/
.coverage
htmlcov/

# IDE
.vscode/
.idea/
.DS_Store

# Logs
logs/
*.log

# Docker
*.local
